.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 40px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.cart-container{
    background-color: #EAE2B7;
    /* color: white; */
    text-align: center;
    border-radius: 5px;
}
/* .showRandom{
    border: 1px solid black;
    width: 210px;
    border-radius: 5px;
    padding: 10px;
    background-color: azure;
    font-size: 18px;
    font-weight: 600;
}
.btnRandom{
    background-color:azure;
    padding: 8px 10px;
    border: 1px solid azure;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.btnRandom:hover{
    background-color: aquamarine;
    border: aquamarine;
}
.btnClear{
    background-color: salmon;
    padding: 8px 10px;
    border: 1px solid salmon;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}
.btnClear:hover{
    background-color: rgba(250, 128, 114, 0.418);
    border: none;
} */

/* Mobile view responsive style */
@media only screen and (max-width:688px){
    .shop-container{
        display: flex;
        flex-direction: column;
        
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin: auto;
        margin-top: 20px;
        order: 2;
    }
    .cart-container{
        position: sticky;
        top: 0;
        padding-bottom: 20px;
    }
}